---
layout: default
---
<div class="meta">
  {% if page.date %}
  <div class="post-date">{{ page.date | date_to_string }}</div>
  {% endif %}
  {% if page.tags.size > 0 %}
  <span class="meta-separator">&bull;</span>
  <ul class="tags-list">
    {% for tag in page.tags %}
    <li class="inline tag_list_item">
      <a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a>
      {% if forloop.last == true %}{% else %}
        <span>,</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{{ content }}

{% if page.related_posts > 0 %}
  <h2> Related Posts </h2>
  {% for item in page.related_posts %}
    {% assign posts = site.posts | where:"path", item %}
    <ul>
    {% for post in posts %}
      <li><a href="{{ post.url | prepend:site.baseurl }}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endif %}
